<div class="bgd-menu-5 spell-tray-container container">
  <div class="row">
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
      <app-spell-slot class="col"></app-spell-slot>
    </div>
</div>
