<div class="action-bar-container bgd-green-5">
  <div class="action-bar-row-container row">
    <app-minimap class="action-bar-row-container-large col"></app-minimap>
    <app-avatar class="action-bar-row-container-small col"></app-avatar>
    <app-spell-tray class="action-bar-row-container-small col"></app-spell-tray>
    <app-settings-tray class="action-bar-row-container-small col"></app-settings-tray>
    <app-inventory-tray class="action-bar-row-container-small col"></app-inventory-tray>
  </div>
</div>
