.action-bar-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.action-bar-row-container {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
}

.action-bar-row-container-large {
  padding: 0;
  width: 250px;
  height: 250px;
}

.action-bar-row-container-small {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50px;
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 1400px) {
  .action-bar-container {
    height: 200px;
  }
  .action-bar-row-container-large {
    width: 200px;
    height: 200px;
  }
  .action-bar-row-container-small {
    height: 150px;
  }
}

@media only screen and (max-width: 1024px) {
  .action-bar-row-container-large { display: none; }
  .action-bar-row-container-small { display: none; }
}


@media only screen and (max-width: 500) {
  .action-bar-row-container-large { display: none; }
  .action-bar-row-container-small { display: none; }
}
