<div class="footer-container bgd-fuschia">
  <div class="container">
    <div class="row">
      <div class="col text-light">
          <h3 class="footer-header">Quick Links</h3>
          <!--TODO: Solidify what goes here -->
          <app-media-tray></app-media-tray>
      </div>
      <div class="col text-light">
          <h3 class="footer-header">Contact Me</h3>
          <!--TODO: Solidify what goes here -->
          <app-media-tray></app-media-tray>
      </div>
      <div class="col text-light">
          <h3 class="footer-header">Media</h3>
          <app-media-tray></app-media-tray>
      </div>
    </div>
  </div>
</div>
