<nav class="navbar navbar-expand-lg navbar-dark bgd-fuschia">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img src="assets/img/potions/Yellow.png" alt="Website Favicon" />
    <img src="assets/img/title.png" alt="Impurity" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/inventory" routerLinkActive="active"><img src="assets/img/potions/Green.png" alt="Website Favicon" />Inventory<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Blog"><img src="assets/img/potions/Blue.png" alt="Website Favicon" />Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About_Me"><img src="assets/img/potions/Pink.png" alt="Website Favicon" />About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Showcase"><img src="assets/img/potions/Purple.png" alt="Website Favicon" />Showcase</a>
      </li>
    </ul>
  </div>
</nav>
