.item-slot-container {
  background-image: url("../../../../../../../assets/img/item/slot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
}

.slot-item-image-tooltip {
  width: 100%;
  height: 100%;
}

.slot-item-image {
  margin: auto;
}
