.item-slot-container {
  background-image: url("../../../../../../../assets/img/item/slot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
}

.slot-item-image-tooltip {
  width: 100%;
  height: 100%;
}

.slot-item-image {
  margin: auto;
}

/* 1400PX WIDTH */
@media only screen and (max-width: 1400px) {
  .item-slot-container {
    width: 38px;
    height: 38px;
  }
}
