<div>
    <app-flippable-card imagePath="assets/img/tmp.jpg" header="C#" subHeader="WPF, Unity, .NET" description="Meow"></app-flippable-card>
    <app-flippable-card imagePath="assets/img/tmp.jpg" header="C#" subHeader="WPF, Unity, .NET" description="Meow"></app-flippable-card>
    <app-flippable-card imagePath="assets/img/tmp.jpg" header="C#" subHeader="WPF, Unity, .NET" description="Meow"></app-flippable-card>
    <app-flippable-card imagePath="assets/img/tmp.jpg" header="C#" subHeader="WPF, Unity, .NET" description="Meow"></app-flippable-card>
    <app-flippable-card imagePath="assets/img/tmp.jpg" header="C#" subHeader="WPF, Unity, .NET" description="Meow"></app-flippable-card>
</div>
