.tab {
  width: 48px;
  height: 48px;
}

.active-tab {
  background-image: url("../../../../../../../assets/img/item/tab-active.png");
  background-size: cover;
}

.not-active-tab {
  background-image: url("../../../../../../../assets/img/item/tab-not-active.png");
  background-size: cover;
}

.tab-item-tooltip {
  width: 100%;
  height: 100%;
  text-align: center;
}

.tab-item-image {
  margin: auto;
  width: 44px;
  height: 44px;
}

/* 1400PX WIDTH */
@media only screen and (max-width: 1400px) {
  .tab {
    width: 38px;
    height: 38px;
  }

  .tab-item-image {
    width: 36px;
    height: 36px;
  }
}
