<div class="item-tray-container container">
  <div class="row">
    <app-item-slot class="col col-3" *ngFor="let item of items"></app-item-slot>
  </div>

  <div class="row">
    <!-- TODO: Button Tray -->
    <button type="button" class="col btn btn-primary">1</button>
    <button type="button" class="col btn btn-primary">2</button>
    <button type="button" class="col btn btn-primary">3</button>
    <button type="button" class="col btn btn-primary">4</button>
    <button type="button" class="col btn btn-primary">5</button>
    <button type="button" class="col btn btn-primary">6</button>
  </div>
</div>
