<table class="item-tray-container">
  <tr *ngFor="let itemRow of items; let i = index">
    <td *ngFor="let item of items[i]">
      <app-item-slot></app-item-slot>
    </td>
  </tr>


  <tr>
    <!-- TODO: Button Tray -->
    <td><a routerLink="/inventory" class="col-2 btnd-default">I</a></td>
    <td><a routerLink="/spells" class="col-2 btnd-default">S</a></td>
    <td><a routerLink="/inventory" class="col-2 btnd-default">S</a></td>
    <td><a routerLink="/spells" class="col-2 btnd-default">I</a></td>
    <td><a routerLink="/inventory" class="col-2 btnd-default">S</a></td>
    <td><a routerLink="/spells" class="col-2 btnd-default">I</a></td>
  </tr>
</table>
