/* Default Green Backgrounds */

.bgd-green-5 {
  background-color: #37546A;
}

.bgd-green-4 {
  background-color: #479A9B;
}

.bgd-green-3 {
  background-color: #48B87A;
}

.bgd-green-2 {
  background-color: #7DDA65;
}

.bgd-green-1 {
  background-color: #C5FA7B;
}

/* Default Green Texts */

.txtd-green-5 {
  color: #37546A;
}

.txtd-green-4 {
  color: #479A9B;
}

.txtd-green-3 {
  color: #48B87A;
}

.txtd-green-2 {
  color: #7DDA65;
}

.txtd-green-1 {
  color: #C5FA7B;
}

/* Basic Text Colors */
.txt-black {
  color: black;
}

.txt-white {
  color: white;
}

/* Basic Background Colors */
.bgd-black {
  background-color: black;
}

.bgd-white {
  background-color: white;
}

/* Button Backgrounds */
.btnd-default {
  background-image: url("assets/img/social-media/default-button.png");
  background-size: cover;
  background-color: transparent;
  border-color: transparent;
  display: table-cell;
  float: none;
  height: 50px;
  width: 50px;
}

/* Misc Colors */
.bgd-menu-1 {
  background-color:  #C7B68B;
}
.bgd-menu-2 {
  background-color:  #AB9174;
}
.bgd-menu-3 {
  background-color:  #876D60;
}
.bgd-menu-4 {
  background-color:  #5A4D49;
}
.bgd-menu-5 {
  background-color:  #312B2A;
}

/* Blanket Style */
/* Remove image highlight and ghost image drag */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
