.bg-wall {
  background-image: url("./assets/img/background.png");
  background-repeat: repeat;
}

.bgd-void {
  background-color: #0E0B16;
}

.bgd-fuschia {
  background-color: #A239CA
}

.bgd-jewel {
  background-color: #4717F6;
}

.bgd-stark {
  background-color: #E7DFDD;
}

.txtd-void {
  color: #0E0B16;
}

.txtd-fuschia {
  color: #A239CA
}

.txtd-jewel {
  color: #4717F6;
}

.txtd-stark {
  color: #E7DFDD;
}

/* Default Text Colors */
.txtd-light {
  color: #EA7AF4;
}

.txtd-normal {
  color: #9B287B;
}

.txtd-dark-normal {
  color: #5C164E;
}

.txtd-dark {
  color: #402039;
}

.txtd-darker {
  color: #170F11;
}

.txt-black {
  color: black;
}

.txt-white {
  color: white;
}

/* Background Colors */
.bgd-light {
  background-color: #EA7AF4;
}

.bgd-normal {
  background-color: #9B287B;
}

.bgd-normal-dark {
  background-color: #5C164E;
}

.bgd-dark {
  background-color: #402039;
}

.bgd-darker {
  background-color: #170F11;
}

.bgd-black {
  background-color: black;
}

.bgd-white {
  background-color: white;
}
